<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "themegaowchiesmobileapp.superswagguy.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[The Mega Owchies Mobile App]</name>

    <description>
         You've watched the movie. Now, you can play the game... on MOBILE DEVICES! 
        From the creators of everything you like comes a very emotional (and funny) app about a boy and his dog. 
        Based on Mega Owchies The Movie on YouTube, and The Mega Owchies Video Game on Scratch, 
        Justin adopts a dog only to have him taken by Dr. Dance Party (that was my character in the movie). 
        Justin must travel through 5 worlds, each with its own lit soundtrack, to find man's best friend:

-Grasslands (Morning)
-Grasslands (Afternoon)
-Grasslands (Evening)
-ShopMart
-HeartBurn World / Dr. Dance Party's Evil Secret Lair

 The Mega Owchies Video Game has been modified for mobile use, including:

-Arrow buttons replace arrow keys
-All music and art is now Non-Copyright
-All music is 29 seconds or less
-All art has been converted to Bitmap
-No more World Records (Sorry)

Features:
-Play as Justin and run, jump, climb, and bounce your way to victory
-Cut scenes!!!
-A lit soundtrack, none of which is copyrighted (4 realz this time)
-5 worlds and 3 boss levels based on Mega Owchies The Movie
-Self Destruct Sequence!
        
        Note: This game is BETA and may not work on some devices. It didn't work on mine, but tell me if it works on your device.
    </description>

    <author href="http://scratch.mit.edu/users/SuperSwagGuy" email="SuperSwagGuy@gmail.com">
        SuperSwagGuy
    </author>

        
</widget>
